.container {
	width: min(90%, 1080px);
	margin-inline: auto;
}

.app {
	min-height: 100vh;
	background-image: url(./assets/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}
